{{#if widget.configuration.mailChimpListID}}
{{#if widget.configuration.mailChimpApiKey}}
<form class="newsletterSubscribe" action="/newsletter/subscribe" method="POST">
  <div class="form-group label-floating form-group-sm is-empty">
    <label class="control-label" for="name">Nome:</label>
    <input type="text" id="ns-{{widget.id}}-name" name="name" class="form-control" required="required">
    <span class="material-input"></span>
  </div>
  <div class="form-group label-floating form-group-sm is-empty">
    <label class="control-label" for="email">E-mail:</label>
    <input type="text" id="ns-{{widget.id}}-email" name="email" class="form-control" required="required">
    <span class="material-input"></span>
  </div>
  <input type="hidden" name="returnTo" value="{{locals.req.url}}">
  <input type="hidden" name="widgetId" value="{{widget.id}}">
  <button type="submit" class="btn btn-default btn-raised btn-sm">Inscrever</button>
</form>
{{/if}}
{{/if}}